header {
    display: block;
    max-width: 95vw;
    min-width: auto;
    height: 45px;
    background-color: #fcde67;
    text-align: center;
    position: sticky;
    font-family: 'Times New Roman', Times, serif;
   
}

.info {
    font-style: italic;
    font-weight: bold;
}

nav {
    width: 95vw;
    height: 60px;
    background-color: #030e12;
    text-align: center;
}

ul {
    display: inline-block;
    align-items: center;
    
}

li {
    list-style-type: none;
    float: left;
    padding: 9px;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

a:active {
    color: gold;
}

#hero {
    width: 95vw;
    height: auto;
}